.press-logo {
    float: right;
    width: 15rem;
    height: 15rem;
}

.card-body,
footer {
    font-family: 'Fira Mono', 'Consolas', 'Menlo', 'Monaco', 'Liberation Mono', 'Courier New', monospace;
}

footer p {
    text-align: center;
}
