html, body, footer {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #a9b5c1;
    background-color: #324151;
    margin: 2%;
    padding: 2%;
}

h3 {
    margin-bottom: 2.5rem;
}

/*
light shade  FFFFFF
light accent 9EA5A0
primary      ABB5B6
dark accent  918679
dark         324151

*/